nav{
    background-color: rgb(157, 0, 255);
}

.welcome-text{
    font-size: xx-large;
    font-weight: 600;
}
.icon{
    height: 20px;
}

.text-upper{
    text-transform: capitalize;
}

.add-icon-mb{
    margin-bottom: 3px;
}

.home-icon-mb{
    margin-bottom: 5px;
}

@media only screen and (max-width: 580px) {
    .icon{
        display: none;
    }
    .welcome-text{
        font-size: Large;
    } 
    .mobile-size-nav{
        font-size: 13px;
    }
}